/*
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree ./administration
 *= require_self
 */

 // "bootstrap-sprockets" must be imported before "bootstrap" and "bootstrap/variables"
@import url(http://fonts.googleapis.com/css?family=Rubik:400,700,300&subset=latin,cyrillic);
$font-family-sans-serif: "Rubik", "Helvetica", sans-serif;
@import "bootstrap-sprockets";
@import "bootstrap";

.admin-dashboard-nav {
  background-color: #fff;
  border-right: 1px solid #2980b9;
  border-left: none;
  border-top: none;
  border-bottom: none;
}

.admin-nav-links li a {
    color: #2980b9!important;
    -webkit-transition: ease 0.5s;
    -ms-transition: ease 0.5s;
    transition: ease 0.5s;
    &:hover {
    color: #2c3e50!important;
    -webkit-transform: translateX(10px);
    -ms-transform: translateX(10px);
    transform: translateX(10px);
    }
  }

.navbar-fixed-left {
  width: 200px;
  position: fixed;
  border-radius: 0;
  height: 100%;
}

.navbar-fixed-left .navbar-nav > li {
  float: none;  /* Cancel default li float: left */
  width: 180px;
}

.navbar-fixed-left + .container {
  padding-left: 160px;
}

/* On using dropdown menu (To right shift popuped) */
.navbar-fixed-left .navbar-nav > li > .dropdown-menu {
  margin-top: -50px;
  margin-left: 140px;
}